{% extends "layout.html" %}

{% block header %}
<header id="main-feature">
  <div class="sky mini aside" tabindex="0"><img src="/images/phone-intro.15791e3082d7.png"/></div>
  <h1>Firefox for Android</h1>
  <h2>Stand out from the crowd</h2>
  <p>Take advantage of our differentiated offering, strong brand and customer
  love for the Firefox ecosystem to drive sales and data usage.</p>
</header>
{% endblock %}

{% block content %}
<div class="main-column">
  <h2>Firefox for Android lets you:</h2>
  <h3>Customize the experience</h3>
  <p>Add your brand and content to increase customer touchpoints, improve retention and drive future sales.</p>
  <h3>Build new differentiated offerings</h3>
  <p>Integrate services directly into the browser to free yourself from the constraints of proprietary platforms.</p>
  <h3>Step into the Firefox ecosystem</h3>
  <p>Leverage the Firefox Marketplace, WebRTC technology, direct customer billing support, search enhancements, new Firefox cloud services and more.</p>

  <h2>TODO: outlines of how/when/why/where for partner distributions</h2>
  <p>This page is mean to be a high level outline of resources for our partners, we'll link into various existing resources.
  <a href="https://wiki.mozilla.org/Mobile/Distribution_Files">mobile distribution</a></p>

  {% include 'opportunities.html' %}
</div>

<aside class="sidebar">
  <ul class="nav">
    <li id="home"><a href="/{{ locale }}/">Home</a></li>
    <li class=""><a href="#build">Build</a></li>
    <li class=""><a href="#policies">Policies</a></li>
    <li class=""><a href="#opportunities">Opportunities</a></li>
  </ul>
</aside>

{% endblock %}
