{% extends "layout.html" %}

{% block header %}
<header id="main-feature">
  <div class="sky mini aside" tabindex="0"><img src="/images/phone-intro.15791e3082d7.png"/></div>
  <h1>Firefox for Android</h1>
  <h2>Stand out from the crowd</h2>
  <p>Take advantage of our differentiated offering, strong brand and customer
  love for the Firefox ecosystem to drive sales and data usage.</p>
</header>
{% endblock %}

{% block content %}
<div class="main-column">
  <h2>Firefox for Android lets you:</h2>
  <h4>Customize the experience</h4>
  <p>Add own personal stamp to increase customer touchpoints, improve retention
  and drive future sales.</p>
  <h4>Build new differentiated offerings</h4>
  <p>Integrate services and content directly into the browser to free yourself
  from the constraints of proprietary platforms.</p>
  <h4>Step into the Firefox ecosystem</h4>
  <p>Leverage add-ons, home screen panels, Firefox Marketplace, WebRTC
  technology, direct customer billing support, search enhancements, new Firefox
  cloud services and more.</p>

  <a name="build"></a>
  <h2>Build</h2>

  <p>Like desktop, mobile Firefox supplies a way for partners to repackage a set
  of customization files into a Firefox build without recompiling. The
  <a href="https://wiki.mozilla.org/Mobile/Distribution_Files">"distribution
  files"</a> concept allows a small set of external files to be used
  to customize a standard Firefox build. Our wiki contains
  <a href="https://wiki.mozilla.org/Mobile/Distribution_Files">full details on
  creating your distribution files</a>.</p>

  <a name="distribute"></a>
  <h2>Distribute Firefox for Android</h2>
  <p>Mozilla supports three methods for distributing a custom bundled Firefox mobile browser:</p>
  <table>
    <tbody>
      <tr><td><h3>Pre-Installation</h3></td>
      <td>Pre-install Firefox to give users easy access to a mobile browser
      they’ll love, while also providing an integrated experience into your
      own services and offerings.
      </td></tr>
      <tr><td><h3>OTA Installation</h3></td>
      <td>For reaching your existing user base, let us provide you with a unique
      URL to download your custom bundled browsing experience for an
      Over-The-Air (OTA) Firefox installation.
      </td></tr>
      <tr><td><h3>Alternative Store</h3></td>
      <td>If you control another store as an alternative to Google Play, we
      are happy to discuss the opportunity to leverage this channel to reach
      your user base.
      </td></tr>
    </tbody>
  </table>

  {% include 'opportunities.html' %}
</div>

<aside class="sidebar">
  <ul class="nav">
    <li id="home"><a href="/{{ locale }}/">Home</a></li>
    <li class=""><a href="#build">Build</a></li>
    <li class=""><a href="#distribute">Distribute</a></li>
    <li class=""><a href="#opportunities">Opportunities</a></li>
  </ul>
</aside>

{% endblock %}
