{% extends "layout.html" %}

{% block header %}
<header id="main-feature">
  <h1>Firefox Desktop Distributions</h1>
  <h2>Help us shape the future of the Web for the public good</h2>
  <p>Opportunities include promoted content, distribution, customized versions
  and more of our PC, Mac & Linux browser.  </p>
  <div id="desktop-image"></div>
</header>
{% endblock %}

{% block content %}
<div class="main-column">
  <h1>Your Firefox, Your way</h1>
  <p>From simple to highly customized, create a Firefox designed for your users.</p>
  <ul>
    <li>Customized Search Engines</li>
    <li>Branded Appearance</li>
    <li>Enhanced functionality through built-in Add-ons</li>
  </ul>
  <a name="resources"></a>
  <h2>Resources</h2>
  <p>While we'll make every effort to help you while you're creating your Firefox
  distribution, understanding some of our proceses will help smooth the ride.</p>
  <table>
    <tbody>
      <tr><td><h3>Build</h3></td>
      <td>You build the customizations, we'll build the binaries for you.
      <p>
      <ul>Resources and Documentation
        <li><a href="https://wiki.mozilla.org/Partnering:Customization_Worksheet">Preparing for your partnership with Mozilla</a></li>
        <li><a href="https://wiki.mozilla.org/Partnering/Repacks/Building">Getting Started</a></li>
        <li><a href="https://hg.mozilla.org/build/partner-repacks">Partner Repository</a> or <a href="https://github.com/mozilla/build-partner-repacks">on Github</a> [How we work with partner repositories will change soon.]</li>
        <li><a href="https://wiki.mozilla.org/Partnering/Repacks/Policy_and_Process">Policy and process</a></li>
        <li><a href="https://wiki.mozilla.org/Distribution_INI_File">Distribution.ini</a></li>
        <li><a href="https://developer.mozilla.org/en-US/Add-ons/Creating_OpenSearch_plugins_for_Firefox">Custom Search Engines</a></li>
        <li><a href="https://developer.mozilla.org/en-US/Add-ons/Themes">Customized Themes</a></li>
      </ul>
      </p>
      </td></tr>
      <tr><td><h3>Releases</h3></td>
      <td>Partner distributions follow the Firefox release schedule.  Here's the
        <a href="https://wiki.mozilla.org/RapidRelease/Calendar">schedule</a>, but you
        can always learn more about the <a href="https://wiki.mozilla.org/RapidRelease">release process</a>.
        When we create builds of Firefox, your distribution will appear here on the
        <a href="/{{ locale }}/downloads/" tabindex="-1">downloads</a> page.
      </td></tr>
      <tr><td><h3>Branding</h3></td>
      <td>If you use branding from Mozilla or Firefox, be sure to follow our
      <a href="https://www.mozilla.org/en-US/styleguide/identity/firefox/branding/">official guidlines</a>.
      </td></tr>
      <tr><td><h3>Policies</h3></td>
      <td><ul>
        <li><a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Agreement">Add-ons policy</a></li>
        <li><a href="https://www.mozilla.org/en-US/foundation/trademarks/distribution-policy/">Distribution Policy</a></li>
        <li><a href="https://www.mozilla.org/en-US/foundation/licensing/">Licensing Policies</a></li>
        </ul>
      </td></tr>
    </tbody>
  </table>

  {% include 'opportunities.html' %}


</div>
<aside class="sidebar">
  <ul class="nav">
    <li id="home"><a href="/{{ locale }}/">Home</a></li>
    <li class=""><a href="#resources">Resources</a></li>
    <li class=""><a href="#opportunities">Opportunities</a></li>
  </ul>
</aside>

{% endblock %}
