{% extends "layout.html" %}
{% block head %}
<style>
#main-content table .android a {
  background-image: url("https://mozorg.cdn.mozilla.net/media/img/sandstone/buttons/download-arrow-small.a07b36c82b6a.png");
  background-position: 8px;
}
h2 select {
  vertical-align: middle;
  margin-left: 10px;
  font-size: .5em;
}
.waitHeader {
  max-height: 32px;
  max-width: 32px;
  padding-left: 10px;
  margin-bottom: -5px;
}
</style>
<script>
  //used to login with these IDP and get user profile
{% if enableAmazon %}
  var AMZNappId    = '{{ providers.amazon.app_id }}';
{% endif %}
  var GoogleAppId  = '{{ providers.google.app_id }}';
  var GoogleAPIKey = '{{ providers.google.api_key }}';
  //used to initialize Cognito Id
  var CognitoIdentityPoolId = '{{ identityPoolId }}';

  var bucketName   = '{{ bucketName }}';
  var s3;

  function showWaitScreen() {
    $("#login").fadeOut();
    $("#downloads").fadeOut();
    $("#wait").show();
  }

  function showErrorScreen() {
    $("#login").hide();
    $("#wait").hide();
    $("#error").show();
  }

  function showResultScreen() {
    $("#wait").hide();
    $("#downloads").fadeIn();
  }

  $(document).ready(function () {

    $("button#googleProvider").click(function () {
        // get authorization to use private data
        var  scopes = 'openid profile';
        gapi.auth.authorize({client_id: GoogleAppId, scope: scopes, immediate: false, response_type:"token id_token"}, function(authResult) {
            if (authResult && !authResult.error) {
                //console.log('--- Google Authentication successful');
                //console.log(authResult);
                showWaitScreen();
                loadS3Bucket(authResult.id_token, 'accounts.google.com');
            } else {
                console.log('--- Google Authentication failed');
                showErrorScreen();
            }
        });
        return false;
    });

{% if enableAmazon %}
    $("button#amazon").click(function () {
      amazon.Login.setClientId(AMZNappId);
      amazon.Login.authorize({ scope: 'profile' }, document.URL);
      return false;
    });

    //use args provided as callback by Amazon Identity provider
    var access_token = $.url().param('access_token');
    if (access_token != null) {
      showWaitScreen();
      loadS3Bucket(access_token, 'www.amazon.com');
    }
{% endif %}
  });


  function parseEntry(contents) {
    var data = contents.Key.split('/');
    if (data.length < 2) {
      return null;
    }
    var params = {Bucket: bucketName, Key: contents.Key};
    var entry = {
      url: s3.getSignedUrl('getObject', params),
      size: contents.Size,
      name: contents.Key,
      lastmod: contents.LastModified,
      partner: data[0],
      version: data[1],
      distro: data[2],
      platform: data[3],
      locale: data[4],
      filename: data[5]
    }
    return entry;
  }

  function gatherEntries(data) {
    var entries = {};
    var platforms = {};
    for (i = 0; i < data.Contents.length; i++) {
      var entry = parseEntry(data.Contents[i]);
      platforms[entry.platform] = "";
      //console.log(entry);
      if (!entries[entry.version])
        entries[entry.version] = {};
      if (!entries[entry.version][entry.distro])
        entries[entry.version][entry.distro] = {};
      if (!entries[entry.version][entry.distro][entry.locale])
        entries[entry.version][entry.distro][entry.locale] = {};
      if (!entries[entry.version][entry.distro][entry.locale][entry.platform])
        entries[entry.version][entry.distro][entry.locale][entry.platform] = entry;
    }
    return { "entries": entries, "platforms": platforms };
  }


  // nice names for table header
  var platformNames = {'win32':'Win32', 'win64':'Win64', 'mac':'OS X',
                       'linux-i686':'Linux', 'linux-x86_64':'Linux64',
                       'android-x86': 'Android X86', 'android-api-9': 'Android Arm API9',
                       'android-api-11': 'Android Arm API11'};
  // platform to css style name
  var platforms = {'win32':'win32', 'win64':'win64', 'mac':'osx',
                   'linux-i686':'linux', 'linux-x86_64':'linux64',
                   'android-x86': 'android', 'android-api-9': 'android',
                   'android-api-11': 'android'};

  function startBuildTable(data) {
    var name = data.Prefix.substr(0, data.Prefix.length-1);
    var wait = $('<img src="/images/loading.png" class="waitHeader"></img>');
    var v = $('<select/>');
    v.change(function(){
      var ver = $(this).find("option:selected").attr("data");
      var table = $(this.parentNode.parentNode).find("table[data='"+ver+"']")[0];
      $(this.parentNode.parentNode).find("table").css("display", "none");
      if (table) {
        $(this.parentNode.parentNode).find("table[data='"+ver+"']").css("display", "");
      } else {
        var prefix = $(this).find("option:selected").attr("prefix");
        wait.fadeIn();
        s3ObjectsForPrefix(prefix);
      }
    });

    var h = $('<div id="' + name + '"/>');
    $('#downloads').append(h);
    var wrap = $('<h2>' + name + '</h2>');
    wrap.append(v);
    wrap.append(wait);
    h.prepend(wrap);
  }

  function buildTables(data) {
    var name = data.Prefix.split('/')[0];
    var info = gatherEntries(data);
    var entries = info.entries;
    var h = $('#' + name);
    var v = $('#' + name + ' select');

    for (var version in entries) {
      //v.append('<option data="'+version+'">'+version+'</option>');
      var table = $('<table style="display: none" data="'+version+'"/>').addClass('table').addClass('table-striped');
      var tr = $('<tr/>');
      tr.append('<th>Distro</th><th>Version</th><th>Language</th>');
      for (var plat in info.platforms) {
        tr.append('<th>' + (platformNames[plat] || plat) + '</th>');
      }
      var th = $('<thead id="header"/>');
      th.append(tr);
      table.append(th);
      for (var distro in entries[version]) {
        for (var locale in entries[version][distro]) {
          var t = $("<tr class='row'>").append("<td class='distro'>" + distro + "</td>")
                                       .append("<td class='version'>" + version + "</td>")
                                       .append("<td class='locale'>" + locale + "</td>");
          for (var plat in info.platforms) {
            if (entries[version][distro][locale][plat])
              t.append("<td class='download " + platforms[plat] + "'><a " +
                       "href='" + entries[version][distro][locale][plat].url + "'>Download</a></td>");
            else
              t.append("<td class='"+platforms[plat]+"'/>");
          }
          table.append(t);
        }
      }
      h.append(table);
    }
  }

  function s3ObjectsForPrefix(prefix) {
    s3.listObjects(params = {Bucket: bucketName, Prefix:prefix}, function (err, data) {
      if (err) {
        console.log(prefix, data, err);
        return false;
      }
      buildTables(data);
      var id = prefix.split('/')[0].substr(0, prefix.length-1);
      $("#" + id + " > h2 > img").fadeOut();
      $("#" + id + " > table").css("display", "none");
      $("#" + id + " > table:last-child").css("display", "");
      showResultScreen();
    }); // end listObjects
  }

  function s3DistroVersions(prefix) {
    s3.listObjects(params = {Bucket: bucketName, Delimiter: "/", Prefix:prefix}, function (err, versions) {
      // build the select menu
      var name = prefix.split('/')[0];
      console.log("build select for "+name);
      var v = $('#' + name + ' select');
      for (var p in versions.CommonPrefixes) {
        var version = versions.CommonPrefixes[p].Prefix.split('/')[1];
        v.append('<option data="'+version+'" prefix="'+versions.CommonPrefixes[p].Prefix+'">'+version+'</option>');
      }
      $("#" + name + " select option:last-child").attr("selected", true);
      // only fetch the last version for now
      var lastVer = versions.CommonPrefixes[versions.CommonPrefixes.length-1];
      s3ObjectsForPrefix(lastVer.Prefix);
    });
  }

  function loadS3Bucket(accessToken, provider) {
    //console.log('--- loadS3Bucket with accessToken = ', accessToken);
    //console.log('                      provider    = ', provider);
    
    AWS.config.region = 'us-east-1';

    cognitoCredentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: CognitoIdentityPoolId,
      Logins: {}
    });
    cognitoCredentials.params.Logins[provider] = accessToken;
    cognitoCredentials.expired = true;

    AWS.config.credentials = cognitoCredentials;

    cognitoCredentials.refresh(function(err) {
      if (err) {
        $("#errortitle").text("Refresh Error");
        console.log(err);
        showErrorScreen();
        return false;
      }

      s3 = new AWS.S3();

      //console.log('--- listObjects with bucket=' + bucketName + '\nand credentials=', s3.config.credentials);
      s3.listObjects(params = {Bucket: bucketName, Delimiter: "/", Prefix:""}, function (err, data) {
        if (err) {
          console.log(err);
          console.log(s3.config.credentials);
          $("#accessid").text(s3.config.credentials.identityId);
          $("#errortitle").text("Access Denied");
          showErrorScreen();
          return false;
        }
        if (data.CommonPrefixes.length < 1) {
          $("#accessid").text(s3.config.credentials.identityId);
          $("#errortitle").text("Downloads Unavailable");
          showErrorScreen();
          return false;
        }
        for (var p in data.CommonPrefixes) {
          startBuildTable(data.CommonPrefixes[p]);
          s3DistroVersions(data.CommonPrefixes[p].Prefix);
        }
      });
      // if no tables were built, user has no access to anything in s3
    });
  }

{% if enableAmazon %}
  // Callback for Amazon SDK
  window.onAmazonLoginReady = function () {
    amazon.Login.setClientId(AMZNappId);
  };
{% endif %}
  function onGoogleSDKLoaded() {
      $("#googleProvider").removeAttr("disabled");
      gapi.client.setApiKey(GoogleAPIKey);
  };
</script>
{% endblock %}

{% block header %}
<header id="main-feature">
  <h1>Partner Downloads</h1>
    <h2>
  </h2>
</header>
{% endblock %}

{% block content %}
<div id="login">
  <ul class="providers">
{% if enableAmazon %}
    <li>
    <button id="amazon" class="on"/>
    </button>
    </li>
{% endif %}
    <li>
    <button id="googleProvider" class="on" disabled="disabled">Sign in with Google to continue...</button>
    </li>
  </ul><br/>
</div>

<div id="downloads" style="display:none"></div>

<div id="wait" style="display:none; position: relative; padding 100px;">
  <div style="position: relative; top: 50%;left: 50%;margin-left: -64px;">
  <img src="/images/loading.png"></img>
  </div>
</div>

<div id="error" style="display:none">
  <h1 id="errortitle">Error</h1>

  <p class="lead">Your account does not have access to download any partner
  distributions.  If you feel this is in error, please contact your partner
  representative at Mozilla.  Provide them with this access id:
  <span id="accessid"></span></p>
  <a class="btn btn-large btn-inverse" href="/{{ locale }}/downloads/">Try Again</a>
</div>

{% endblock %}

{% block scripts %}
<!-- AWS SDK -->
<script type="text/javascript" src="https://sdk.amazonaws.com/js/aws-sdk-2.1.8.min.js"></script>
{% if enableAmazon %}
<!-- AMZN IDP SDK -->
<script type="text/javascript" src="https://api-cdn.amazon.com/sdk/login1.js?v=3"></script>
{% endif %}
<!-- GOOG IDP SDK -->
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=onGoogleSDKLoaded"></script>
{% endblock %}
