{% extends "layout.html" %}
{% block head %}
<style>
#main-content table .android a {
  background-image: url("https://mozorg.cdn.mozilla.net/media/img/sandstone/buttons/download-arrow-small.a07b36c82b6a.png");
  background-position: 8px;
}
h2 select {
  vertical-align: middle;
  margin-left: 10px;
  font-size: .5em;
}
</style>
<script>
  //used to login with these IDP and get user profile
  var AMZNappId    = '{{ providers.amazon.app_id }}';
  //used to initialize Cognito Id
  var CognitoIdentityPoolId = '{{ identityPoolId }}';

  var bucketName   = '{{ bucketName }}';

  function showWaitScreen() {
    $("#login").fadeOut();
    $("#wait").show();
  }

  function showErrorScreen() {
    $("#login").hide();
    $("#wait").hide();
    $("#error").show();
  }

  function showResultScreen() {
    $("#wait").hide();
    $("#downloads").fadeIn();
  }

  $(document).ready(function () {

    $("li#amazon").click(function () {
      amazon.Login.setClientId(AMZNappId);
      amazon.Login.authorize({ scope: 'profile' }, document.URL);
      return false;
    });

    //use args provided as callback by Amazon Identity provider
    var access_token = $.url().param('access_token');
    if (access_token != null) {
      showWaitScreen();
      loadS3Bucket(access_token, 'www.amazon.com');
    }
  });


  function parseEntry(contents, s3) {
    var data = contents.Key.split('/');
    if (data.length < 2) {
      return null;
    }
    var params = {Bucket: bucketName, Key: contents.Key};
    var entry = {
      url: s3.getSignedUrl('getObject', params),
      size: contents.Size,
      name: contents.Key,
      lastmod: contents.LastModified,
      partner: data[0],
      version: data[1],
      distro: data[2],
      platform: data[3],
      locale: data[4],
      filename: data[5]
    }
    return entry;
  }

  function gatherEntries(data, s3) {
    var entries = {};
    var platforms = {};
    for (i = 0; i < data.Contents.length; i++) {
      var entry = parseEntry(data.Contents[i], s3);
      platforms[entry.platform] = "";
      //console.log(entry);
      if (!entries[entry.version])
        entries[entry.version] = {};
      if (!entries[entry.version][entry.distro])
        entries[entry.version][entry.distro] = {};
      if (!entries[entry.version][entry.distro][entry.locale])
        entries[entry.version][entry.distro][entry.locale] = {};
      if (!entries[entry.version][entry.distro][entry.locale][entry.platform])
        entries[entry.version][entry.distro][entry.locale][entry.platform] = entry;
    }
    return { "entries": entries, "platforms": platforms };
  }

  function buildTables(data, s3) {
    var info = gatherEntries(data, s3);
    var entries = info.entries;
    // nice names for table header
    var platformNames = {'win32':'Win32', 'win64':'Win64', 'mac':'OS X',
                         'linux-i686':'Linux', 'linux-x86_64':'Linux64',
                         'android-x86': 'Android X86', 'android-api-9': 'Android Arm API9',
                         'android-api-11': 'Android Arm API11'};
    // platform to css style name
    var platforms = {'win32':'win32', 'win64':'win64', 'mac':'osx',
                     'linux-i686':'linux', 'linux-x86_64':'linux64',
                     'android-x86': 'android', 'android-api-9': 'android',
                     'android-api-11': 'android'};
    var v = $('<select/>');
    v.change(function(){
      var ver = $(this).find("option:selected").attr("data");
      $(this.parentNode.parentNode).find("table").css("display", "none");
      $(this.parentNode.parentNode).find("table[data='"+ver+"']").css("display", "");
    });

    var h = $('<div/>');
    $('#downloads').append(h);
    for (var version in entries) {
      v.append('<option data="'+version+'">'+version+'</option>');
      var table = $('<table style="display: none" data="'+version+'"/>').addClass('table').addClass('table-striped');
      var tr = $('<tr/>');
      tr.append('<th>Distro</th><th>Version</th><th>Language</th>');
      for (var plat in info.platforms) {
        tr.append('<th>' + (platformNames[plat] || plat) + '</th>');
      }
      var th = $('<thead id="header"/>');
      th.append(tr);
      table.append(th);
      for (var distro in entries[version]) {
        for (var locale in entries[version][distro]) {
          var t = $("<tr class='row'>").append("<td class='distro'>" + distro + "</td>")
                                       .append("<td class='version'>" + version + "</td>")
                                       .append("<td class='locale'>" + locale + "</td>");
          for (var plat in info.platforms) {
            if (entries[version][distro][locale][plat])
              t.append("<td class='download " + platforms[plat] + "'><a " +
                       "href='" + entries[version][distro][locale][plat].url + "'>Download</a></td>");
            else
              t.append("<td class='"+platforms[plat]+"'/>");
          }
          table.append(t);
        }
      }
      h.append(table);
    }
    var wrap = $('<h2>' + data.Prefix.substr(0, data.Prefix.length-1) + '</h2>');
    wrap.append(v);
    h.prepend(wrap);
    $("#downloads select option:last-child").attr("selected", true);
    $("#downloads > div > table:last-child").css("display", "");

    showResultScreen();
  }

  function loadS3Bucket(accessToken, provider) {
    AWS.config.region = 'us-east-1';
    cognitoCredentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: CognitoIdentityPoolId,
      Logins: {}
    });
    cognitoCredentials.params.Logins["www.amazon.com"] = accessToken;
    cognitoCredentials.expired = true;

    AWS.config.credentials = cognitoCredentials;

    cognitoCredentials.refresh(function(err) {
      if (err) {
        showErrorScreen();
        return false;
      }

      var s3 = new AWS.S3();

      s3.listObjects(params = {Bucket: bucketName, Delimiter: "/", Prefix:""}, function (err, data) {
        if (err) {
          $("#accessid").text(s3.config.credentials.identityId);
          showErrorScreen();
          return false;
        }

        for (var p in data.CommonPrefixes) {
          var prefix = data.CommonPrefixes[p].Prefix;
          s3.listObjects(params = {Bucket: bucketName, Prefix:prefix}, function (err, data) {
            if (err) {
              console.log(err);
              return false;
            }
            buildTables(data, s3);
          }); // end listObjects
        }
      });
      // if no tables were built, user has no access to anything in s3
    });
  }

  // Callback for Amazon SDK
  window.onAmazonLoginReady = function () {
    amazon.Login.setClientId(AMZNappId);
  };
</script>
{% endblock %}

{% block header %}
<header id="main-feature">
  <h1>Partner Downloads</h1>
    <h2>
  </h2>
</header>
{% endblock %}

{% block content %}
<div id="login">
  <ul class="providers">
    <li id="amazon" class="on">
      <span style="text-indent: -9999px; display: inline-block;">amazon</span>
    </li>
  </ul><br/>
  <p class="lead">Please login to continue...</p>
</div>

<div id="downloads" style="display:none"></div>

<div id="wait" style="display:none; position: relative; padding 100px;">
  <div style="position: relative; top: 50%;left: 50%;margin-left: -64px;">
  <img src="/images/loading.png"></img>
  </div>
</div>

<div id="error" style="display:none">
  <h1>Access Denied</h1>

  <p class="lead">Your account does not have access to download any partner
  distributions.  If you feel this is in error, please contact your partner
  representative at Mozilla.  Provide them with this access id:
  <span id="accessid"></span></p>
  <a class="btn btn-large btn-inverse" href="/{{ locale }}/downloads/">Try Again</a>
</div>

{% endblock %}

{% block scripts %}
<!-- AWS SDK -->
<script type="text/javascript" src="https://sdk.amazonaws.com/js/aws-sdk-2.1.8.min.js"></script>
<!-- AMZN IDP SDK -->
<script type="text/javascript" src="https://api-cdn.amazon.com/sdk/login1.js?v=3"></script>
{% endblock %}
