<footer id="colophon" class="">
  <nav class="row">
    <div class="col col-1">
      <h1 class="logo"><a href="https://www.mozilla.org/">Mozilla</a></h1>
      <p class="license">Portions of this content are ©1998–2015 by individual mozilla.org contributors. Content available under a <a href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.</p>
    </div>
    <div class="col col-2">
      <ul class="links-join">
        <li><a href="https://www.mozilla.org/contact/spaces/">Contact Us</a></li>
        <li class="wrap"><a href="https://www.mozilla.org/about/partnerships/">Partner with Us</a></li>
        <li class="clear"><a href="https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&amp;source=mozillaorg_footer&amp;ref=EOYFR2014&amp;utm_campaign=EOYFR2014&amp;utm_source=mozilla.org&amp;utm_medium=referral&amp;utm_content=mozillaorg_footer" class="donate">Donate</a></li>
        <li class="wrap"><a href="https://www.mozilla.org/contribute/friends/">Firefox Friends</a></li>
        <li class="clear"><a href="https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org">Contribute to this site</a></li>
      </ul>
      <ul class="links-legal">
        <li><a href="https://www.mozilla.org/privacy/">Privacy</a></li>
        <li class="wrap"><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
        <li class="wrap"><a href="https://www.mozilla.org/about/legal/">Legal</a></li>
        <li class="clear"><a href="https://www.mozilla.org/about/legal/fraud-report/">Report Trademark Abuse</a></li>
      </ul>
    </div>
    <div class="col col-3">
      <ul class="links-social">
        <li>
          Mozilla:
          <ul>
            <li><a href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
            <li><a href="https://www.facebook.com/mozilla">Facebook<span> (Mozilla)</span></a></li>
          </ul>
        </li>
        <li>
          Firefox:
          <ul>
            <li><a href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
            <li><a href="https://www.facebook.com/Firefox">Facebook<span> (Firefox)</span></a></li>
            <li><a href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
          </ul>
        </li>
      </ul>
      <div class="lang-switcher">
        {% include 'lang_switcher.html' %}
      </div>
    </div>
  </nav>
</footer>