<!doctype html>
<html class="windows x86 no-js" lang="en" dir="ltr" data-latest-firefox="38.0.1" data-esr-versions="[31, 38]">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="shortcut icon" href="//mozorg.cdn.mozilla.net/media/img/favicon.ico">
  <title>{{ _("Firefox Partner Distributions") }}</title>

  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.c4ec201287fa.css" rel="stylesheet" type="text/css" />    
  <!--[if lte IE 8]>
  <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.d580a4cd1cb4.js"></script>
  <![endif]-->
  <!--[if lte IE 7]>
  <link href="//mozorg.cdn.mozilla.net/media/css/oldIE-bundle.a0b24cf439aa.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if !lte IE 7]><!-->
  <link href="//mozorg.cdn.mozilla.net/media/css/firefox_all-bundle.55fbe350e32d.css" rel="stylesheet" type="text/css" />
  <!--<![endif]-->
  <script type="text/javascript" src="//mozorg.cdn.mozilla.net/media/js/site-bundle.4d72c30b1a11.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>

  <style>
#content-wrapper {
    padding-bottom: 40px;
    width: 1000px;
    margin: 0px auto;
    position: relative;
}
header {
  padding: 0;
  margin: 0;
}

#main-content {
  padding-top: 40px;
  background: url("//mozorg.cdn.mozilla.net/media/img/sandstone/grain.855f29e0c686.png") repeat scroll 0% 0%, transparent radial-gradient(circle farthest-side at center bottom , #EAEFF2 0%, #D4DDE4 100%) repeat scroll 0% 0%;
}
#colophon {
  margin: 0;
}
#wrapper, #main-content, #main-feature {
  padding-bottom: 0;
}

  </style>
  <script>
$(document).ready(function($) {
  $('#language').change(function(event) {
    location = "/"+$('#language option:selected').val()+"/";
  });
});

  </script>

  {% block head %}{% endblock %}
</head>
<body id="firefox-all" class="html-ltr sky firefox-all-release " >
  <div id="outer-wrapper">
  <div id="swoop-wrapper">
  <div id="wrapper">
    <header id="masthead">
      <a href="/{{ locale }}/" id="tabzilla" data-infobar="translation">Mozilla</a>

      <nav id="nav-main" role="navigation">
        <span id="nav-main-toggle" class="toggle" role="button" aria-controls="nav-main-menu" aria-expanded="false" tabindex="0">Menu</span>
        <ul id="nav-main-menu">
        <li class="first"><a href="/{{ locale }}/desktop/" tabindex="-1">{{ _('Desktop') }}</a></li>
        <li><a href="/{{ locale }}/android/" tabindex="-1">{{ _('Android') }}</a></li>
        <li><a href="https://mobilepartners.mozilla.org" tabindex="-1">{{ _('Firefox OS') }}</a></li>
        <li><a rel="external" href="https://www.mozilla.org/en-US/about/partnerships/" tabindex="-1">{{ _('Partner with Us') }}</a></li>
        <li><a href="/{{ locale }}/downloads/" tabindex="-1">{{ _('Downloads') }}</a></li>
        </ul>
      </nav>

      <h2><img src="//mozorg.cdn.mozilla.net/media/img/firefox/new/header-firefox.png?2013-06" alt="{{ _('Firefox for desktop') }}"></h2>
    </header>

{% block header %}{% endblock %}
    </div><!-- close #wrapper -->
  </div><!-- close #swoop-wrapper -->
<main id="main-content" role="main" class="pager pager-with-tabs pager-no-history">
  <div id="content-wrapper">
  <div class="container">
  {% block content %}{% endblock %}
  </div>
  </div>
</main>


{% include 'footer.html' %}

</div><!-- close #outer-wrapper -->

  <!--[if IE 9]>
  <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.3fd01d1af18b.js"></script>
  <![endif]-->
  
  <script type="text/javascript" src="//mozorg.cdn.mozilla.net/media/js/firefox-resp-bundle.a080f6f60e2f.js" charset="utf-8"></script>
  <script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js"></script>
  <script type="text/javascript" src="//mozorg.cdn.mozilla.net/media/js/firefox_all-bundle.248a13e96a18.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/purl.js"></script>

  {% block scripts %}{% endblock %}

  <script>
    //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //
    //ga('create', 'UA-35433268-59', 'mozilla.net');
    //ga('send', 'pageview');
  </script>
</body>
</html>
