
  <a name="opportunities"></a>
  <h2>Other Opportunities</h2>
  <p>You don't have to build your own Firefox Distribution to partner with
  Mozilla, check out more about how <a rel="external" href="https://www.mozilla.org/en-US/about/partnerships/">you can partner with us</a>.</p>
  <table>
    <tbody>
      <tr><td><h3>Tiles</h3></td>
      <td>The Firefox new tab page now includes Tiles, providing users easy access to
  interesting, relevant content, whether it’s the sites they visit most or new
  sites for them to discover.
  <a href="https://content.mozilla.org/">Learn more about
  Tiles</a> and contact us to get involved!
      </td></tr>
      <tr><td><h3>Android</h3></td>
      <td>Opportunities include distribution, customized versions and more of
      our <a href="/{{ locale }}/android/">mobile browser</a>.
      </td></tr>
      <tr><td><h3>Firefox OS</h3></td>
      <td>If you are a phone and tablet OEM/ODM or a mobile operator, talk to us
      about our new <a href="https://mobilepartners.mozilla.org">Web-based device platform</a>.
      </td></tr>
      <tr><td><h3>Marketplace</h3></td>
      <td>Content providers and developers can reach Web users on desktop and
      mobile and have their apps promoted to hundreds of millions of users.
      <a href="https://marketplace.firefox.com/developers/">Learn more about apps and Firefox Marketplace »</a>
      </td></tr>
      <tr><td><h3>Co-Branding</h3></td>
      <td>Co-branding, editorial partnerships, content creation, rewards, events
      and more — Mozilla is always looking for innovative marketing collaborations
      with like-minded brands. 
      </td></tr>
    </tbody>
  </table>
